.singleRow {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-bottom: 10px;
}

.columnLeft, .columnRight {
    width: 50%;
    text-align: left;
}

.columnRight {
    padding-right: 20px;
}

.columnLeft {
    font-size: 1.5rem;
    padding-left: 20px;
}

span {
    margin-right: 5px;
}

.glyphicon-star {
    font-size: 20px;
}

.glyphicon-star:hover {
    color: grey !important;
    cursor: pointer;
}
