.searchContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
}

.searchBar {
    margin-right: 10px;
    height: 40px;
}

.searchButton {
    background-color: #278e31;
}

.glyphicon-search:before {
    color: white;
}
