.App {
  min-height: 100vh;
  min-width: 100vw;
}

.favourites {
  background-color: #f3faff;
  bottom: 0;
  position: fixed;
  width: 100%;
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: scroll;
}

h2 {
  margin-left: 20px;
  color: #1f8a32;
  font-weight: bold;
}

ul {
  padding-left:10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
